:root {
  --bg-color: #e6dfdf;
  --clr-font: #ffffff;
  --clr-main: #232323;
  --clr-homeGradient1: rgba(48, 48, 73, 0.8);
  --clr-homeGradient2: rgba(78, 37, 37, 0.8);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #020617;
    --clr-font: #ffffff;
    --clr-main: #ffffff;
    --clr-homeGradient1: rgba(48, 48, 73, 1);
    --clr-homeGradient2: rgba(78, 37, 37, 1);
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  background-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
