.main {
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  pointer-events: none;

  .header {
    font-size: 10rem;
    text-shadow: 3px 3px rgb(145, 41, 41);
  }

  .description {
    margin-top: 5em;
    font-size: 2rem;
  }
}
